.col-sm-12
    #role-dialog-wrapper
    button.btn.btn-sm.btn-success#add-role(type="button" style="float: left;margin: 20px 0px")
        span.glyphicon.glyphicon-plus(aria-hidden="true")
    button.btn.btn-sm.btn-danger#delete-role(type="button" style="float: right;margin: 20px 0px")
        span.glyphicon.glyphicon-remove(aria-hidden="true")
    .backgrid-container#role-table
