.col-sm-12
    #user-dialog-wrapper
    button.btn.btn-sm.btn-success#add-user(type="button" style="float: left;margin: 20px 0px")
        span.glyphicon.glyphicon-plus(aria-hidden="true")
    button.btn.btn-sm.btn-danger#delete-user(type="button" style="float: right;margin: 20px 0px")
        span.glyphicon.glyphicon-remove(aria-hidden="true")
    .backgrid-container#user-table
